$primary-color:#0075ff;
html {
    /* khi muốn 16px thì = 1.6rem */
    font-size: 62.5%;
    // line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to right, #7c1da4, #7e3fd7);
    .player {
        margin: auto;
        width: 800px;
        height: 450px;
        position: relative;
        &:hover .player__controls {
            transform: unset;
        }
        &__video {
            width: 100%;
        }
        &__controls {
            display: flex;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .9));
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: space-between;
            >* {
                margin: 5px;
            }
            .toggle {
                width: 16px;
            }
            .toggle i {
                font-size: 2rem;
                // width: 16px;
            }
        }
        &__btn {
            background-color: transparent;
            color: #fff;
            border: none;
            font-size: 1.4rem;
            &:hover {
                cursor: pointer;
                color: $primary-color;
            }
        }
        &__time {
            font-size: 1.6rem;
            color: #fff;
        }
        &__progress {
            width: 400px;
            height: 10px;
            background-color: #fff;
            position: relative;
            &-filled {
                width: 200px;
                height: 10px;
                background-color: #0075ff;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__volume {
            color: #fff;
            font-size: 1.6rem;
            &-filled {
                // background-color: #0075ff;
                color: $primary-color;
            }
        }
    }
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: pink;
    display: flex;
    video {
        width: 800px;
        height: 450px;
        margin: auto;
    }
}